@font-face {
    font-family: "Poppins";
    font-weight: 400;
    src: url("../fonts/poppins-v20-latin-regular.woff2") format("woff2"), 
         url("../fonts/poppins-v20-latin-regular.woff") format("woff"); 
  }
  @font-face {
    font-family: "Poppins";
    font-weight: 500;
    src: url("../fonts/poppins-v20-latin-500.woff2") format("woff2"),
         url("../fonts/poppins-v20-latin-500.woff") format("woff"); 
  }
  @font-face {
    font-family: "Poppins";
    font-weight: 600;
    src: url("../fonts/poppins-v20-latin-600.woff2") format("woff2"), 
         url("../fonts/poppins-v20-latin-600.woff") format("woff"); 
  }
  @font-face {
    font-family: "Poppins";
    font-weight: 700;
    src: url("../fonts/poppins-v20-latin-700.woff2") format("woff2"), 
         url("../fonts/poppins-v20-latin-700.woff") format("woff");
  }

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: "Poppins";
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 120px;
}

.container{
    width: 1240px;
    margin: 0 auto;
    padding: 0px 20px;
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-wrapper{
    width: 525px;
    color: #fff;
}

.title{
    font-size: 50px;
    line-height: 55px;
    margin-bottom: 40px;
}

.text{
    font-weight: 500;
}

.free-link{
    display: block;
    padding: 17px 110px;
    color: #fff;
    background-color: #5E54A4;
    text-decoration: none;
    box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
    border-radius: 10px;
    margin-bottom: 24px;
}

.form{
    width: 540px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    padding: 40px 0px;
}

.form-input {
    width: 460px;
    padding: 15px 32px;
    font-weight: 600;
    margin: 20px 0px;
    background: #FFFFFF;
    border: 1px solid #DEDEDE;
    border-radius: 5px;
    outline-color: #5E54A4;
    caret-color: #5E54A4;
}


.form-button{
    padding: 15px 134px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    background-color: #38CC8B;
    box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.0908818);
    border: none;
    border-radius: 5px;
}

.form-button:active{
    opacity: 0.5;
}

.form-end-text{
    font-size: 11px;
    font-weight: 500;
    color:#A6A1CF;
}

.terms-link{
    font-weight: 600;
    color:#FF7979;
    text-decoration: none;
}